* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin: 5rem;
}

main {
  width: 60rem;
  display: flex;
  gap: 40rem;
}

/* ==================================== Main Styles ==================================== */
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.options, .selected-items {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  gap: .5rem;
}


.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #405cf5;
  border-radius: 5px;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox:before {
  content: "";
  background-color: #405cf5;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}
.checkbox ~ label {
  font-size: 1.4rem;
  cursor: text;
}

.checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

/* ==================================== Action Styles ==================================== */

.actions {
  display: flex;
  gap: 0.5rem;
}

.button {
  width: 15rem;
  height: 2.5rem;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  padding: 0 25px;
  transition: all 0.2s ease-in;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 8px 1px;
  outline: none;
}
.button:hover {
  transform: translateY(-1px) scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.1) 3px 5px 10px 1px;
}

.button:active {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px 1px;
  transform: translateY(-0px) scale(0.99);
}
